body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
    color: white;
    font-size: 1.4rem;
    width:400px;
    margin:0 auto;
  }
  
  #header {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    width: 100%;
    padding: 0 30px 0 0;
    background-color: #222;
  }
  
  #header-img {
    height: 96px;
  }
  
  #nav-bar {
    width: 50vw;
  }
  
  nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  li {
    list-style: none;
    display: list-item;
  }
  
  #nav-link {
    color: white;
    text-decoration: none;
  }
  
  .container {
    max-width: 700px;
    width: 100%;
    margin: 150px auto;
  }
  
  .title {
    padding: 5px 0 10px 11px;
    font-family: cursive;
  }
  
  .paragraph-characteristics {
    padding: 0 30px;
    font-size: smaller;
    text-align: left;
  }
  
  #how_it_works {
    width: 100%;
    height: 370px;
    max-width: 560px;
    margin-top: 60px;
  }
  
  #video {
    width: 600px;
    padding: 20px 50px;
  }
  
  #contact {
    margin-top: 80px;
    padding: 20px 30px;
  }
  
  #form {
    display: flex;
    flex-direction: column;
    max-height: 150px;
    height: 300px;
    padding: 20px 30px;
    background-color: #444;
    border-radius: 5px;
  }
  
  #form > label {
    font-size: xx-large;
    margin-bottom: 20px;
  }
  
  #email {
    margin-bottom: 20px;
    height: 25px;
    padding: 5px 8px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
  }
  
  #submit {
    height: 30px;
    padding: 5px 0px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: medium;
    font-family: inherit;
    font-weight: bolder;
  }
  
  @media (max-width: 450px) {
    #header {
      display: flex;
      flex-wrap: wrap;
      z-index: 10;
    }
  
    #header-img {
      height: 96px;
    }
  
    #nav-bar {
      margin-top: -10px;
      width: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;
      background-color: #222;
    }
  
    #nav-link {
      padding: 5px 0px;
    }
  
    nav > ul {
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  
    .title {
      text-align: center;
    }
    
    .t1{
      margin-top:250px;
    }
  
    #video {
      width: 80%;
      z-index: 1;
    }
  
    #contact {
      margin-top: 0px;
    }
  
    #contact > h2 {
      font-size: 26px;
      text-align: center;
    }
  }
  
  h3 {
    text-align: center;
    width:70%;
     margin:0 auto;
    margin-top:20px;
  }
  
  h3 > a {
    color: orange;
    text-decoration: none;
  }
  